html {
    scroll-behavior: smooth; 
  }

@media (max-width: 800px) .body {
  background-color: #fff;
  font-size: 18px;
}

body {
    margin: 1.5em;
    font-family: Poppins, Roboto, montserrat, sans-serif;
    font-weight: 500;
    font-size: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(
      155deg,
      hsl(23deg 100% 46%) 0%,
      hsl(13deg 86% 51%) 10%,
      hsl(3deg 87% 55%) 19%,
      hsl(350deg 90% 51%) 26%,
      hsl(344deg 100% 47%) 32%,
      hsl(340deg 100% 47%) 37%,
      hsl(336deg 100% 46%) 42%,
      hsl(332deg 100% 45%) 46%,
      hsl(327deg 100% 43%) 50%,
      hsl(321deg 100% 41%) 54%,
      hsl(314deg 100% 38%) 58%,
      hsl(305deg 100% 35%) 62%,
      hsl(293deg 100% 35%) 67%,
      hsl(281deg 100% 37%) 72%,
      hsl(263deg 79% 44%) 78%,
      hsl(228deg 100% 41%) 93%
    );
    background-repeat: no-repeat;
    color: #fff;
}

  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
    top: 0;
    left: 0;
    background-color:rgb(113, 5, 255);
    opacity: 69%;
    z-index: 4;
  }

  .nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      margin: auto;
  }

  .nav-link {
      padding: 0 20px;
      line-height: 50px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      opacity: 100%;
  }

  .nav-list > li :hover {
    color: rgb(255, 217, 5);
  }

  .section-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 2em;
    align-items: center;
    padding: 0%;
  }

  .avatar {
      width: 300px;
      height: auto;
      border-radius: 50%;
      border-style: none;
      margin: 0;
      padding: 100px;
      position: relative;
      z-index: -1;
  }

  .container-contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .contact-info {
    width: 100%;
    max-width: 1440px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  h1 {
      font-size: 40px;
      text-decoration-color: #fff;
  }

  .about-me__job {
    margin: 0;
    padding-bottom: 100px;
  }

  .projects-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 2%;
    width: 100%;
    max-width: auto;
    justify-content: center;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.1s;
    opacity: 70%;
    background: #000000;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
  }

  a {
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  li :hover {
    color: rgb(255, 217, 5);
  }

  
  .btn {
    display: inline-block;
  }

  
  .tile-wrapper :hover {
    box-shadow: 1px 1px 15px 2px rgba(250, 133, 24, 0.9);
  }
  
  .tile-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  
  .section {
    max-width: auto;
    width: 1000px;
  }

  .rs-logo {
    height: 40px;
    width: auto;
  }
  
  .contact-info {
    line-height: 1.8;
  }

  .container-footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .container-footer :hover {
    color: rgb(255, 217, 5);
  }